-- Clean up duplicate campaign calls
-- This will keep only the most recent call for each contact in each campaign

-- First, let's see what we have
SELECT 
  campaign_id,
  contact_name,
  phone_number,
  COUNT(*) as call_count,
  array_agg(id ORDER BY created_at DESC) as call_ids,
  array_agg(status ORDER BY created_at DESC) as statuses,
  array_agg(created_at ORDER BY created_at DESC) as created_dates
FROM campaign_calls 
WHERE campaign_id = '9009f5a6-66b9-44e9-b79a-b568f0377dc6'
GROUP BY campaign_id, contact_name, phone_number
HAVING COUNT(*) > 1
ORDER BY call_count DESC;

-- Delete duplicate records, keeping only the most recent one
WITH ranked_calls AS (
  SELECT 
    id,
    ROW_NUMBER() OVER (
      PARTITION BY campaign_id, contact_name, phone_number 
      ORDER BY created_at DESC
    ) as rn
  FROM campaign_calls 
  WHERE campaign_id = '9009f5a6-66b9-44e9-b79a-b568f0377dc6'
)
DELETE FROM campaign_calls 
WHERE id IN (
  SELECT id FROM ranked_calls WHERE rn > 1
);

-- Also clean up call_queue duplicates
WITH ranked_queue AS (
  SELECT 
    id,
    ROW_NUMBER() OVER (
      PARTITION BY campaign_id, campaign_call_id 
      ORDER BY created_at DESC
    ) as rn
  FROM call_queue 
  WHERE campaign_id = '9009f5a6-66b9-44e9-b79a-b568f0377dc6'
)
DELETE FROM call_queue 
WHERE id IN (
  SELECT id FROM ranked_queue WHERE rn > 1
);

-- Verify the cleanup
SELECT 
  campaign_id,
  contact_name,
  phone_number,
  COUNT(*) as call_count
FROM campaign_calls 
WHERE campaign_id = '9009f5a6-66b9-44e9-b79a-b568f0377dc6'
GROUP BY campaign_id, contact_name, phone_number
ORDER BY call_count DESC;
